<%= form_with(model: [:admin, @regional_prosecution], local: true) do |form| %>
  <% if @regional_prosecution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@regional_prosecution.errors.count, "error") %> prohibited this crime from being saved:</h2>

      <ul>
        <% @regional_prosecution.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Editar Fiscalía Regional</h1>
  <div class="actions">
    <div class="row">
      <div class="form-group col-10">
        <%= form.label :nombre %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>
    <%= form.submit 'Editar Fiscalía Regional', class: ["btn", "btn-primary"]  %>
    <%= link_to "Atras", admin_regional_prosecutions_path, class: ["btn", "btn-secondary"] %>
  </div>
<% end %>