
<%= form_with(model: [:admin, @regional_prosecution], local: true) do |form| %>

  <h1>Crear Fiscalía Regional</h1>
  <div class="actions">
    <div class="row">
      <div class="form-group col-10">
        <%= form.label :nombre %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group col-10">
        <% cities_array = @regiones.map { |city| [city[:nombre], city[:codigo]] } %>
        <%= form.label :region, 'Región:' %>
        <%= form.select :region, options_for_select(cities_array),{},{class: "form-control"} %>
      </div>
    </div>
    <%= form.submit 'Crear Fiscalía regional', class: ["btn", "btn-primary"]  %>
    <%= link_to "Atras", admin_regional_prosecutions_path, class: ["btn", "btn-secondary"] %>
  </div>
<% end %>
