<%= form_with model: @new_message, url: {controller: "messages", action: "create"} do |form| %>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :procedure_id, value: @procedure.id %>
  </div>

  <div class="field">
    <%= form.text_area :content, size: 90,placeholder: "Escribe un mensaje ..."  ,class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar" , class: "btn btn-primary"%>
  </div>
<% end %>