

<div id="content_box">

  <h1>Mensajes del Procedimiento <%= @procedure.id %></h1>

  <% @messages.each do |message| %>
    <div class="messageBox">
      <div class="topMessageBox">
        <% if (message.user.police_unit != nil) %>
          <%= message.user.police_unit.name %>
            <%=current_user.prosecutor.name%>
        <% elsif (message.user.prosecutor != nil) %>
          <%= message.user.prosecutor.local_prosecution.name %>
        <% end %>

        <span class="dateSide"><%= message.created_at %></span>
        <span class="text-primary"><%=current_user.prosecutor.name%></span>
      </div>

      <div class="bottomMessageBox">
        <%= message.content %>
      </div>
    </div>
  <% end %>


  <%= render 'form', message: @new_message %>

</div>