<p id="notice"><%= notice %></p>

<div id="content_box">

<h1>Mensajes del Procedimiento <%= @messages.first.procedure.id %></h1>

<% @messages.each do |message| %>
  <div class="messageBox">
    <div class="leftMessageBox">
      <%if (message.user.police_unit != nil)%>
        <%= message.user.police_unit.name %>
      <%elsif (message.user.local_prosecution!= nil) %>
        <%= message.user.local_prosecution.name %>
      <%end %>
      <%= message.user.email %>
    </div>

    <div class="rightMessageBox">
      <%= message.content %>
    </div>
  </div>
<% end %>


<%= render 'form', message: @new_message %>

</div>