<div id="content_box">

  <h1>Mensajes del Procedimiento <%= @procedure.id %></h1>

  <% @messages.each do |message| %>
    <div class="messageBox">
      <div class="topMessageBox">
        <% if (message.user.police_unit != nil) %>
          <%= message.user.police_unit.name %>

        <% elsif (message.user.prosecutor != nil) %>
          <%= message.user.prosecutor.local_prosecution.name %>
        <% end %>
      </div>

      <div class="centerMessageBox font-weight-bold">
        <span class="dateSide"><%= message.created_at %></span>
        <%if  (message.user.prosecutor != nil)%>
        <p class="text-primary"><%=message.user.prosecutor.name%></p>
     
        <%end%>
      </div>


      <div class="bottomMessageBox">
        <%= message.content %>
      </div>
    </div>
  <% end %>


  <%= render 'form', message: @new_message %>

</div>