 <%= form_with(model: [:admin, @prosecutor], local: true) do |form| %>

    <h1>Editar Fiscal</h1>
    <div class="actions">
      <div class="row">
        <div class="form-group col-10">
          <%= form.label :nombre %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group col-10">
         <%= form.label :rut %>
         <%= form.text_field :rut, class: "form-control" %>
        </div>

        <% if current_user.local_prosecution.nil? and current_user.police_unit.nil? %>
          <div class="form-group col-10">
           <%= form.label :local_prosecution %>
           <%= form.collection_select(:local_prosecution_id, LocalProsecution.not_deleted.all, :id, :name, {}, { class: "form-control" }) %>
          </div>
        <% end %>
      </div>
      <%= form.submit 'Editar Fiscal', class: ["btn", "btn-primary"]  %>
      <%= link_to "Atras", admin_prosecutors_path, class: ["btn", "btn-secondary"] %>
   </div>
  <% end %>
</div>