
<div id="content_box">
  <div class="container mt-3">
    <h2>Filterable Table</h2>
    <%= link_to 'Crear delito', new_admin_prosecutor_path() %>
    <p>Type something in the input field to search the table for Names, Countries or emails:</p>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>RUT</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody id="myTable">
      <% @prosecutors.each do |prosecutor| %>
        <tr>
          <td><%= prosecutor.name %></td>
          <td><%= prosecutor.rut %></td>
          <td><%= link_to 'Editar', edit_admin_prosecutor_path(prosecutor) %> <%= link_to 'Eliminar', admin_prosecutor_path(prosecutor), method: :delete %></td>
        </tr>

      <% end %>
      </tbody>
    </table>

  </div>
  <script>
      $(document).ready(function(){
          $("#myInput").on("keyup", function() {
              var value = $(this).val().toLowerCase();
              $("#myTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
          });
      });
  </script>
</div>