<%= form_with(model: [:admin, @prosecutor], local: true) do |form| %>
  <%if @operador %>
    <h1>Crear Operador</h1>
  <% else %>
    <h1>Crear Fiscal</h1>
  <% end %>
  <div class="actions">
    <div class="row">
      <div class="form-group col-10">
        <%= form.label :nombre_y_apellido %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group col-10">
        <%= form.label :rut %>
        <%= form.text_field :rut, class: "form-control" %>
      </div>
      <% if current_user.local_prosecution.nil? and current_user.police_unit.nil? %>
      <div class="form-group col-10">
        <%= form.label :fiscalía_local %>
        <%= form.collection_select(:local_prosecution_id, LocalProsecution.not_deleted.all, :id, :name, {}, { class: "form-control" }) %>
      </div>
        <% else %>
        <%= form.hidden_field :local_prosecution_id, :value => current_user.local_prosecution.id %>
      <% end %>
      <%= form.hidden_field :prosecutor_on_duty, :value => !@operador %>
    </div>
    <%= form.submit 'Crear Fiscal', class: ["btn", "btn-primary"] %>
    <%= link_to "Atras", admin_prosecutors_path, class: ["btn", "btn-secondary"] %>
  </div>
<% end %>
</div>