<% if @notifications != [] %>
  <% @notifications.each do |notification| %>
    <% if notification.seen == false %>
      <div id="homeNotificationDiv">
        <div class="procedimiento_badge" , style="font-size: x-large">
          <% if notification.new_procedure? %>
            <%= link_to "Procedimiento N° " + String(notification.reference_id) + " pasó a abierto", see_notification_path(notification), method: :put %>
          <% elsif notification.procedure_closed? %>
            <%= link_to "Procedimiento N° " + String(notification.reference_id) + " se ha cerrado", see_notification_path(notification), method: :put %>
          <% elsif notification.procedure_requiring_info? %>
            <%= link_to "Procedimiento N° " + String(notification.reference_id) + " se ha actualizado", see_notification_path(notification), method: :put %>
          <% elsif notification.new_message? %>
            <%= link_to "Nuevo mensaje en Procedimiento N° " + String(notification.reference_id), see_notification_path(notification), method: :put %>
          <% end %>
        </div>
        <br>
        <em>
          <%= notification.created_at %>
        </em>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div id="homeNotificationDiv" , class="d-flex justify-content-center procedimiento_badge " , style="font-size: x-large">
    <a>No hay notificaciones nuevas</a>
  </div>
<% end %>