<%if @notifications != [] %>
  <% @notifications.each do |notification| %>
    <div id="homeNotificationDiv">
      <div class="procedimiento_badge", style="font-size: x-large">
        <% if notification.new_procedure? %>
          <%= link_to "Nuevo Procedimiento recibido", procedure_path(notification.reference_id) %>
        <% elsif notification.procedure_closed?%>
          <%= link_to "Procedimiento N° " + String(notification.reference_id) + " cerrado", procedure_path(notification.reference_id) %>
        <% elsif notification.procedure_requiring_info? %>
          <%= link_to "Procedimiento N° " + String(notification.reference_id) + " requiere más informacion", procedure_path(notification.reference_id) %>
        <% elsif notification.procedure_info_updated? %>
          <%= link_to "Procedimiento N° " + String(notification.reference_id) + " se ha actualizado", procedure_path(notification.reference_id) %>
        <% elsif notification.new_message? %>
          <%= link_to "Nuevo mensaje en Procedimiento N° " + String(notification.reference_id), procedure_messages_path(notification.reference_id) %>
        <% end %>
      </div>
        <br>
        <em>
          <%= notification.created_at %>
        </em>
    </div>

  <% end %>
<% end %>