<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @user.rut %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Police unit:</strong>
  <%= @user.police_unit_id %>
</p>

<p>
  <strong>Local prosecution:</strong>
  <%= @user.prosecutor_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
