
<%= form_with(model: [:admin, @police_unit], local: true) do |form| %>

  <h1>Editar Unidad Policial</h1>
  <div class="actions">
    <div class="row">
      <div class="form-group col-10">
        <%= form.label :nombre %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group col-10">
        <%= form.label :unidad_policial %>
        <%= form.collection_select(:police_station_id, PoliceStation.not_deleted.all, :id, :name, {}, { class: "form-control" }) %>
      </div>
    </div>
    <%= form.submit 'Editar Unidad Policial', class: ["btn", "btn-primary"]  %>
    <%= link_to "Atras", admin_police_units_path, class: ["btn", "btn-secondary"] %>
  </div>
<% end %>
