
<%= form_with(model: [:admin, @admin_tag], local: true) do |form| %>
  <% if @admin_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_tag.errors.count, "error") %> prohibited this crime from being saved:</h2>

      <ul>
        <% @admin_tag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Crear Marca</h1>
  <div class="actions">
    <div class="row">
      <div class="form-group col-10">
        <%= form.label :nombre %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>
    <%= form.submit 'Crear Marca', class: ["btn", "btn-primary"]  %>
    <%= link_to "Atras", admin_tags_path, class: ["btn", "btn-secondary"] %>
  </div>
<% end %>
