<%= stylesheet_link_tag "search.css" %>
<div id="tot_container">
  <div id="rcorners1">
    <%= form_with url: search_path, method: :get, local: true do |form| %>
      <div class="form-inline">
        <%= form.label :palabras_clave, "Palabras Clave: " %>
        <%= form.text_field :palabras_clave, :placeholder => params[:palabras_clave], class: "form-control" %>
      </div>
      <br>
      <div class="form-inline">
        <%= form.label :desde, "Desde: " %>
        <%= form.date_field :desde, class: "form-control" %>
      </div>
      <br>
      <div class="form-inline">
        <%= form.label :hasta, "Hasta: " %>
        <%= form.date_field :hasta, class: "form-control" %>
      </div>
      <br>
      <% classifications = [nil,"Flagrancia", "ODP", "Ambas"].map { |classification| [classification] } %>
      <div class="form-inline">
        <%= form.label :classification, 'Clasificacion:' , class: "col-form-label"%>
        <%= form.select :classification, options_for_select(classifications),{},{class: "form-control"} %>
      </div>
      <br>
      <% fallecidos = [nil,"Si", "No"].map { |involucra_fallecidos| [involucra_fallecidos] } %>
      <div class="form-inline">
        <%= form.label :involucra_fallecidos, 'Involucra Fallecidos: ' , class: "col-form-label"%>
        <%= form.select :involucra_fallecidos, options_for_select(fallecidos),{},{class: "form-control"} %>
      </div>

      <% crimes = Crime.order(:name).map{|crime| [crime[:name]]} %>
      <br>
      <div class="form-inline">
        <%= form.label :delito, 'Delito:', class: "col-form-label" %>
        <%= form.select :delito, options_for_select(crimes), {name: "procedure[crimes][]"},{class: "form-control mw-10", style: "width: 100%;"} %>
      </div>
      <br>
      <div class="form-inline">
        <p>Marcas:</p>
        <%= form.select :tag_ids, options_for_select(Tag.order(:name).map { |tag| [tag[:name]] }, params[:tag_ids]),{},{class: "form-control",multiple: true} %>
      </div>
      <br>
      <%= form.submit "Filtrar", class: ["btn", "btn-primary"] %>

    <% end %>
  </div>

  <div id="divs_wrapper">
    <%if @procedimientos_buscados != []  and @procedimientos_buscados != nil%>
      <% @procedimientos_buscados.each do |procedimiento| %>
        <div id="div_proced">
          <div class="police_info">
            <%= procedimiento.police_in_charge.name%>
            <br>
            <%= "N° Placa: " %>
            <%= procedimiento.police_in_charge.badge %>
          </div>
          <div class="vl"></div>
          <div class="procedimiento_badge">
            <%= link_to "Procedimiento N°" + String(procedimiento.id), procedure_path(procedimiento.id) %>
          </div>
          <div class="state_procedure">
            <strong>Estado:</strong>
            <br>
            <% if procedimiento.pending? %>
              Pendiente
            <% elsif procedimiento.acd?%>
              Audiencia control de detención
            <% elsif procedimiento.noticed? %>
              Apercibido
            <% end %>

          </div>
          <div class="icons">
            <%= link_to(
                    content_tag(
                        :i,
                        nil,
                        class: 'fas fa-envelope fa-2x',
                        style: 'color: #EC9D32'
                    ),
                    procedure_messages_path(procedimiento.id)

                )
            %>

            <br>
            <em>
              <%= procedimiento.created_at %>
            </em>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>
</div>

<script>
    $('#tag_ids').chosen({
        allow_single_deselect: true,
        width: '100%'
    });
</script>