<%= form_with(model: person_in_procedure, local: true) do |form| %>
  <% if person_in_procedure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person_in_procedure.errors.count, "error") %> prohibited this person_in_procedure from being saved:</h2>

      <ul>
        <% person_in_procedure.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id %>
  </div>

  <div class="field">
    <%= form.label :procedure_id %>
    <%= form.text_field :procedure_id %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.number_field :role %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
