<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @person_in_procedure.person_id %>
</p>

<p>
  <strong>Procedure:</strong>
  <%= @person_in_procedure.procedure_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @person_in_procedure.role %>
</p>

<%= link_to 'Edit', edit_person_in_procedure_path(@person_in_procedure) %> |
<%= link_to 'Back', person_in_procedures_path %>
