<%= stylesheet_link_tag "new_session" %>

<div id="rcorners1">
  <%= image_tag "logo.png" %>
  <h2 id="Ingresar">Ingresar</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <div class="label_form_email">
      <%= f.label "Email"%><br />
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <div class="label_form_psswd">
        <%= f.label "Contraseña" %><br />
      </div>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Ingresar", class: ["btn", "btn-warning", "button"] %>
    </div>

    <div class="remember_me">
      <div class="div1">
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label "Recuerdame" %>
          </div>
        <% end %>
      </div>
      <div class="div2">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>

</div>



