
<%= form_with(model: [:admin, @local_prosecution], local: true) do |form| %>

  <h1>Crear Fiscalía Local</h1>
  <div class="actions">
    <div class="row">
      <div class="form-group col-10">
        <%= form.label :nombre %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group col-10">
        <%= form.label :fiscalía_regional %>
        <%= form.collection_select(:regional_prosecution_id, RegionalProsecution.all, :id, :name, {}, { class: "form-control" }) %>
      </div>
    </div>
    <%= form.submit 'Crear Fiscalía Local', class: ["btn", "btn-primary"]  %>
    <%= link_to "Atras", admin_local_prosecutions_path, class: ["btn", "btn-secondary"] %>
  </div>
<% end %>
