<%= form_with(model: crime_in_accused, local: true) do |form| %>
  <% if crime_in_accused.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crime_in_accused.errors.count, "error") %> prohibited this crime_in_accused from being saved:</h2>

      <ul>
        <% crime_in_accused.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :preponderant %>
    <%= form.check_box :preponderant %>
  </div>

  <div class="field">
    <%= form.label :crime_id %>
    <%= form.text_field :crime_id %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id %>
  </div>

  <div class="field">
    <%= form.label :procedure_id %>
    <%= form.text_field :procedure_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
