<p id="notice"><%= notice %></p>

<h1>Crime In Accuseds</h1>

<table>
  <thead>
    <tr>
      <th>Preponderant</th>
      <th>Crime</th>
      <th>Person</th>
      <th>Procedure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crime_in_accuseds.each do |crime_in_accused| %>
      <tr>
        <td><%= crime_in_accused.preponderant %></td>
        <td><%= crime_in_accused.crime_id %></td>
        <td><%= crime_in_accused.person_id %></td>
        <td><%= crime_in_accused.procedure_id %></td>
        <td><%= link_to 'Show', crime_in_accused %></td>
        <td><%= link_to 'Edit', edit_crime_in_accused_path(crime_in_accused) %></td>
        <td><%= link_to 'Destroy', crime_in_accused, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crime In Accused', new_crime_in_accused_path %>
