<!--
<p id="notice"><%= notice %></p>
-->
<% if !current_user.admin? %>
  <div class="text-center">
    <%= link_to "Crear nuevo procedimiento", new_procedure_path, class: "btn btn-warning text-white ml-sm-4"%>
  </div>
<% else %>
  <% controller.redirect_to admin_users_path %>
<% end %>

<%if @procedures != [] %>
  <% @procedures.each do |procedimiento| %>
    <div id="homeProcedureDiv">
      <div class="police_info">
        <%= procedimiento.police_in_charge.name%>
        <br>
        <%= "N° Placa: " %>
        <%= procedimiento.police_in_charge.badge %>
      </div>
      <div class="vl"></div>
      <div class="procedimiento_badge">
        <%= link_to "Procedimiento N°" + String(procedimiento.id), procedure_path(procedimiento.id) %>
      </div>
      <div class="state_procedure">
        <strong>Estado:</strong>
        <br>
        <% if procedimiento.open? %>
          Abierto
        <% elsif procedimiento.close?%>
          Cerrado
        <% elsif procedimiento.draft? %>
          Borrador
        <% end %>

      </div>
        <div class="icons">
          <%= link_to(
                  content_tag(
                      :i,
                      nil,
                      class: 'fas fa-envelope fa-2x',
                      style: 'color: #EC9D32'
                  ),
                  procedure_messages_path(procedimiento.id)
              )
          %>
          <br>
          <em>
            <%= procedimiento.created_at %>
          </em>
        </div>
      </div>
    <% end %>
  <% else %>
    <% if current_user.admin == false %>
      <div id="homeProcedureDiv" , class="d-flex justify-content-center pt-3 alert-info" , style="font-size: x-large;">
        <a>No hay procedimientos</a>
      </div>
    <% end %>
  <% end %>
</div>
<% if @procedures != [] %>
  <div class="d-flex justify-content-center pt-3">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>