
<span>
  <div>
    <h1>Ingreso de procedimiento</h1>
    <%= form_with model: @procedure do |form| %>

    <section class="form-group">
      <%= form.label :fecha, 'Fecha:' %>
      <%= form.datetime_local_field :fecha %>
    </section>

    <section class="form-group">
      <%= form.label :direccion, 'Direccion:' %>
      <%= form.text_field :direccion %>

      <section class="form-group">
        <% cities_array = @regiones.map { |city| [city[:nombre], city[:codigo]] } %>
        <%= form.label :region, 'Region:' %>
        <%= form.select( :region, options_for_select(cities_array), {}, {}) %>

        <%= form.label :comuna, 'Comuna:' %>
        <%= form.select(:comuna, [], {}, {})  %>
      </section>

      <section id="delitos">

        <% delitos = [nil,
                      "acoso",
                      "homicidio",
                      "conduccion en estado de ebriedad",
                      "Robo a mano armada",
                      "femicidio",
                      "violacion",
                      "pisar las lineas de la vereda"].map{|delito| [delito]} %>
        <%= form.label :delito_preponderante, 'Delito prepopnderante:' %>
        <%= form.select( :delito_preponderante, options_for_select(delitos), {}) %>
        <div id="new_delito">
          <%= form.label :delito %>
          <%= form.select( :delito , options_for_select(delitos), {}) %>
        </div>
      </section>

      <button id="add_delito_btn" class="btn btn-primary"> Agregar delito </button>
    </section>

    <section>
      <%= form.submit "Enviar", class: "btn btn-primary" %>
    </section>

  <% end %>
  </div>

</span>

