
<span>
  <div id="content_box">
    <h1 class="d-flex justify-content-center"><b>Ingreso de procedimiento</b></h1>
    <div class="pr-5 pl-5 mt-5" id="form">
      <%= form_with model: @procedure, id: "form_procedure" do |form|%>

        <div class="card mb-3">
          <h5 class="card-header">Información general del procedimiento</h5>
          <div id="general" class="card-body">
            <div id="datetime" class="mb-3 d-flex justify-content-between">
              <div class="form-inline">
                <%= form.label :date, 'Fecha: ', class: "mr-2 form-label"%>
                <div>
                  <%= form.date_field :date , class: "form-control"%>
                  <div id="form-invalid-date" class="invalid-feedback" hidden></div>
                </div>
              </div>

              <div class="form-inline">
                <%= form.label :time, 'Hora: ', class: "mr-2 form-label"%>
                <div>
                  <%= form.time_field :time, class: "form-control" %>
                  <div id="form-invalid-time" class="invalid-feedback" hidden></div>
                </div>
              </div>
            </div>

            <div id="classification" class="mb-3 d-flex justify-content-between">
              <% classifications = ["Flagrancia", "ODP", "Ambas"].map { |classification| [classification] } %>
              <div class="form-inline">
                <%= form.label :classification, 'Clasificación:' , class: "mr-2 form-label"%>
                <%= form.select :classification, options_for_select(classifications),{},{class: "form-control flex-grow"} %>
              </div>
            </div>

            <div id="deceased">
              <div class="custom-control custom-switch">
                <%= form.check_box :involves_deceased, class: "custom-control-input", id: "procedure_involves_deceased"  %>
                <%= form.label :involves_deceased, 'Involucra fallecidos', class: "custom-control-label", for:"procedure_involves_deceased" %>
              </div>
            </div>
          </div>
        </div>

        <% if !current_user.prosecutor %>
          <div class="card mb-3">
            <h5 class="card-header">Fiscalia a cargo</h5>
            <div id="prosecutionInCharge" class="card-body">
              <div class="form-inline">
                <%= form.select :prosecution_in_charge, options_for_select(LocalProsecution.order(:name).map { |prosecution| [prosecution[:name], prosecution[:id]] }),{},{class: "form-control flex-grow-1"} %>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <h5 class="card-header">Fiscal a cargo</h5>
            <div id="prosecutorInCharge" class="card-body">
              <div class="form-inline">
                  <%= form.select :prosecutor_in_charge, options_for_select(Prosecutor.order(:name).map { |prosecutor| [prosecutor[:name], prosecutor[:id]] }),{},{class: "form-control flex-grow-1"} %>
              </div>
            </div>
          </div>
        <% else %>
          <%= form.hidden_field :prosecution_in_charge, :value => current_user.prosecutor.local_prosecution.id %>
          <%= form.hidden_field :prosecutor_in_charge, :value => current_user.prosecutor.id %>
        <% end %>

        <div class="card mb-3">
          <h5 class="card-header">Policia a cargo</h5>
          <div id="policeman" class="card-body">
            <div class="form-inline">
              <%= form.select :police_in_charge, options_for_select(PoliceMan.not_deleted.order(:name).map { |police| ["%s - %s"%[police[:name].to_s,police[:badge].to_s],police[:id]] }),{},{class: "form-control flex-grow-1"} %>
            </div>
          </div>
        </div>

        <% if !current_user.police_unit %>
          <div class="card mb-3">
            <h5 class="card-header">Unidad policial a cargo</h5>
            <div id="policeUnitInCharge" class="card-body">
              <div class="form-inline">
                <%= form.select :police_unit_in_charge, options_for_select(PoliceUnit.order(:name).map { |policeUnit| [policeUnit[:name],policeUnit[:id]] }),{},{class: "form-control flex-grow-1"} %>
              </div>
            </div>
          </div>
        <% else %>
          <%= form.hidden_field :police_unit_in_charge, :value => current_user.police_unit.id %>
        <% end %>

        <div class="card mb-3">
          <h5 class="card-header">Localización</h5>
          <div id="address" class="card-body">
            <div class="form-inline mb-3">
              <%= form.label :address, 'Dirección:' , class: "mr-2 form-label"%>
              <%= form.text_field :address,  class: "form-control flex-grow-1"%>
              <div id="form-invalid-address" class="invalid-feedback" hidden></div>
            </div>

            <div class="d-flex justify-content-between">
              <% cities_array = @regiones.map { |city| [city[:nombre], city[:codigo]] } %>
              <div class="form-inline">
                <%= form.label :region, 'Región:', class: "mr-2 form-label" %>
                <%= form.select :region, options_for_select(cities_array),{},{class: "form-control"} %>
              </div>

              <div class="form-inline">
                <%= form.label :sector, 'Comuna:', class: "mr-2 form-label" %>
                <%= form.select :sector, [],{},{class: "form-control"} %>
              </div>
            </div>
          </div>
        </div>


        <div class="card mb-3">
          <h5 class="card-header d-flex justify-content-between align-items-center">Delitos <button type="button" id="add_crime_btn" class="btn btn-primary">+ Agregar delito </button></h5>
          <div id="crimes" class="card-body">
            <% crimes = Crime.order(:name).map{|crime| [crime[:name]]} %>
            <div class="form-inline d-flex justify-content-between">
              <%= form.label :preponderant_crime, 'Delito preponderante:', class: "form-label mr-2" %>
              <%= form.select :preponderant_crime, options_for_select(crimes),{},{class: "form-control flex-grow-1"} %>
            </div>
            <div id = "new_crime" class="mt-3 form-inline d-flex justify-content-between">
              <%= fields_for "procedure[crimes]" do |crimes_fields| %>
                <%= crimes_fields.label "", 'Delito:', class: "form-label mr-2"%>
                <%= crimes_fields.select "" , options_for_select(crimes), {name: "procedure[crimes][]"},{class: "form-control flex-grow-1"}  %>
              <% end %>
              <button type="button" class="ml-2 btn btn-danger delete_crime"> Eliminar delito </button>
            </div>
          </div>
        </div>


        <div class="card mb-3">
          <h5 class="card-header">Marcas</h5>
          <div id="marks" class="form-group card-body">
            <%= form.select :tag_ids, options_for_select(Tag.order(:name).map { |tag| [tag[:name]] }, params[:tag_ids]),{},{class: "form-control",multiple: true} %>
          </div>
        </div>


        <div class="card mb-3">
          <h5 class="card-header d-flex justify-content-between align-items-center">Imputados <button type="button" id="add_accused_btn" class="btn btn-warning text-light" data-toggle="modal" data-target="#accusedModal"> + Agregar Imputado </button></h5>
          <div id="accuseds" class="card-body">
            <div id="form-invalid-accussed" class="alert alert-danger" role="alert" hidden>Es necesario al menos un imputado para ingresar el procedimiento.</div>
          </div>
        </div>

        <div class="card mb-3">
          <h5 class="card-header d-flex justify-content-between align-items-center">Victimas <button type="button" id="add_victim_btn" class="btn btn-warning text-light" data-toggle="modal" data-target="#victimModal"> + Agregar Víctima </button></h5>
          <div id="victims" class="card-body">
          </div>
        </div>

        <div class="card mb-3">
          <h5 class="card-header d-flex justify-content-between align-items-center">Testigos <button type="button" id="add_witness_btn" class="btn btn-warning text-light" data-toggle="modal" data-target="#witnessModal"> + Agregar Testigo </button></h5>
          <div id="witnesses" class="card-body">
          </div>
        </div>

        <div class="card mb-3">
          <h5 class="card-header">Relato</h5>
          <div id="story" class="card-body">
            <%= form.text_area :story,  class: "form-control flex-grow-1"  %>
          </div>
        </div>
        <div class="card mb-3">
          <h5 class="card-header">Archivos</h5>
          <div id="attachments" class="card-body">
            <div class="form-group">
              <%= form.label :photos, 'Fotos:' , class: "mr-2 form-label"%>
              <%= form.file_field :photos,multiple: true, class: "form-control-file" %>
            </div>
            <div class="form-group">
              <%= form.label :videos, 'Videos:' , class: "mr-2 form-label"%>
              <%= form.file_field :videos, multiple: true, class: "form-control-file" %>
            </div>
             <div class="form-group">
              <%= form.label :documents, 'Documentos:' , class: "mr-2 form-label"%>
               <%= form.file_field :documents, multiple: true, class: "form-control-file" %>
            </div>
          </div>
        </div>
        <div>
          <%= form.button "Enviar",type:'submit', class: "btn btn-primary", id:"btn-send",name:'state',value:0%>
          <%= form.button "Guardar borrador", type:'submit', class: "btn btn-info", id:"btn-save", name:'state',value:2%>
        </div>
      </div>
    <% end %>
  </div>
</span>

<!-- Acussed Modal -->
<div class="modal fade" id="accusedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agregar imputado</h5>
        <button type="button" class="close" id="accusedClose" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="mb-3 form-control" id="accusedName" aria-describedby="nameAcussed" placeholder="Nombre Completo">
        <input type="text" class="mb-3 form-control" id="accusedAlias" aria-describedby="aliasAccused" placeholder="Alias o Sobrenombre">
        <input type="text" class="form-control" id="accusedRut" aria-describedby="rutAccused" placeholder="Rut">
        <div id="accused-invalid-rut" class="invalid-feedback" hidden>Rut inválido.</div>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-accused-btn" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="modal-accused-btn" type="button" class="btn btn-primary" >Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Victim Modal -->
<div class="modal fade" id="victimModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agregar Víctima</h5>
        <button type="button" class="close" id="victimClose" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="mb-3 form-control" id="victimName" aria-describedby="nameVictim" placeholder="Nombre Completo">
        <input type="text" class="form-control" id="victimRut" aria-describedby="rutVictim" placeholder="Rut">
        <div id="victim-invalid-rut" class="invalid-feedback" hidden>Rut inválido.</div>
        <input type="text" class="mb-3 mt-3 form-control" id="victimContact" aria-describedby="contactVictim" placeholder="Contacto">
        <div class=" mb-3 d-flex justify-content-center custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="deceasedVictimSwitch">
          <label class="custom-control-label" for="deceasedVictimSwitch">Fallecido?</label>
        </div>
        <textarea class="mb-3 form-control" id="victimStory" aria-describedby="storyVictim" placeholder="Detalles..."></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-victim-btn" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="modal-victim-btn" type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>


<!-- Witness Modal -->
<div class="modal fade" id="witnessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agregar Testigo</h5>
        <button type="button" class="close" id="witnessClose" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="mb-3 form-control" id="witnessName" aria-describedby="nameWitness" placeholder="Nombre Completo">
        <input type="text" class="form-control" id="witnessRut" aria-describedby="rutWitness" placeholder="Rut">
        <div id="witness-invalid-rut" class="invalid-feedback" hidden>Rut inválido.</div>
        <input type="text" class="mb-3 mt-3 form-control" id="witnessContact" aria-describedby="witnessVictim" placeholder="Contacto">
        <textarea class="mb-3 form-control" id="witnessStory" aria-describedby="storyWitness" placeholder="Detalles..."></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-witness-btn" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="modal-witness-btn" type="button" class="btn btn-primary" >Guardar</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.js" data-turbolinks-track="true"></script>
