<div id="content_box" >
  <h1 style="text-align:center;">Procedimiento <%= @procedure.id %></h1>
  <br>
  <p style="text-align:center;">
    <strong>Estado:</strong>
    <% if @procedure.open? %>
      Abierto
    <% elsif @procedure.close?%>
      Cerrado
    <% elsif @procedure.draft? %>
      Borrador
    <% end %>
  </p>
  <p style="text-align:center;">
    <strong>Fecha de creación:</strong>
    <%= @procedure.created_at_str %>
  </p>
  <p style="text-align:center;">
    <strong>Fecha de procedimiento:</strong>
    <%= @procedure.date_str %>
  </p>
  <p style="text-align:center;">
    <strong>Dirección:</strong>
    <%= @procedure.address %>, <%= @procedure.sector %>, <%= @procedure.region %>
  </p>
  <div class="card">
    <h5 class="card-header">Datos del procedimiento</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-police-unit-list" data-toggle="list" href="#list-police-unit" role="tab" aria-controls="home">Unidad Policíal</a>
            <a class="list-group-item list-group-item-action" id="list-police-in-charge-list" data-toggle="list" href="#list-police-in-charge" role="tab" aria-controls="profile">Policía a cargo</a>
            <a class="list-group-item list-group-item-action" id="list-local-prosecution-list" data-toggle="list" href="#list-local-prosecution" role="tab" aria-controls="messages">Fiscalía Local</a>
            <a class="list-group-item list-group-item-action" id="list-prosecutor-in-charge-list" data-toggle="list" href="#list-prosecutor-in-charge" role="tab" aria-controls="settings">Fiscal a cargo</a>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-police-unit" role="tabpanel" aria-labelledby="list-police-unit-list">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= @procedure.police_unit_in_charge.name %></h5>
                  <h6 class="card-subtitle mb-2 text-muted">Pertenece a <%= @procedure.police_unit_in_charge.police_station.name %></h6>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="list-police-in-charge" role="tabpanel" aria-labelledby="list-police-in-charge-list">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= @procedure.police_in_charge.name %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= @procedure.police_in_charge.rut %></h6>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="list-local-prosecution" role="tabpanel" aria-labelledby="list-local-prosecution-list">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= @procedure.local_prosecution_in_charge.name %></h5>
                  <h6 class="card-subtitle mb-2 text-muted">Pertenece a <%= @procedure.local_prosecution_in_charge.regional_prosecution.name %></h6>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="list-prosecutor-in-charge" role="tabpanel" aria-labelledby="list-prosecutor-in-charge-list">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= @procedure.prosecutor_in_charge.name %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= @procedure.prosecutor_in_charge.rut %></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <h5 class="card-header">Datos delictuales</h5>
    <div class="card-body">
      <p class="card-text">
        <strong>Clasificación:</strong>
        <% if @procedure.flagrancy? %>
          Flagrancia
        <% elsif @procedure.pending_arrest_warrant? %>
          Orden de detención pendiente
        <% elsif @procedure.both? %>
          Flagrancia y Orden de detención pendiente
        <% end %>
      </p>
      <p lass="card-text">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title"><strong>Delitos</strong></h6>
      <p class="card-text">
        <span class="badge badge-danger"><%= @preponderant_crime.crime.name %></span>
        <% @crimes.each do |crime| %>
          <span class="badge badge-primary"><%= crime.crime.name %></span>
        <% end %>
      </p>
    </div>
  </div>
  <br>
  <p class="card-text">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title"><strong>Marcas</strong></h6>
  <p class="card-text">
    <% @procedure.tags.each do |tag| %>
      <span class="badge badge-pill badge-primary"><%= tag.name %></span>
    <% end %>
  </p>
</div>
</div>
</div>
</div>
</p>
<div class="card">
  <h5 class="card-header">Relato</h5>
  <div class="card-body">
    <p class="card-text"><%= @procedure.story %></p>
    <p class="card-text">
      <strong>Involucra fallecidos:</strong>
      <%= @procedure.involves_deceased ? "Si" : "No" %>
    </p>
  </div>
</div>
<br>
<div class="card">
  <h5 class="card-header">Datos de involucrados</h5>
  <div class="card-body">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-accused-tab" data-toggle="tab" href="#nav-accused" role="tab" aria-controls="nav-home" aria-selected="true">Imputados</a>
        <a class="nav-item nav-link" id="nav-victim-tab" data-toggle="tab" href="#nav-victim" role="tab" aria-controls="nav-profile" aria-selected="false">Víctimas</a>
        <a class="nav-item nav-link" id="nav-witness-tab" data-toggle="tab" href="#nav-witness" role="tab" aria-controls="nav-contact" aria-selected="false">Testigos</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-accused" role="tabpanel" aria-labelledby="nav-home-tab">
        <br>
        <div class="row row-cols-1 row-cols-md-3">
          <% @accuseds.each do |accused| %>
            <div class="col mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= accused[0].name %></h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    <%= accused[0].rut %>
                    <br>
                    <% unless accused[0].birthday.nil? %>
                      <%=  ((Time.zone.now - accused[0].birthday.to_time) / 1.year.seconds).floor  %> años
                    <% end %>
                    <br>
                    <% unless accused[0].alias_accuseds.first.nil? %>
                      Alias: "<%=  accused[0].alias_accuseds.first.alias  %>"
                    <%  end %>
                    <p class="card-text"><small class="text-muted">
                      <% if accused[1] == "pending" %>
                        Pendiente
                      <% elsif accused[1] == "acd" %>
                        Audiencia control de detención
                      <% elsif accused[1] == "noticed" %>
                        Apercibido
                      <% end %>
                    </small>
                    </p>
                  </h6>
                  <% if @procedure.open? %>
                    <%= link_to "Pronunciarse", "#pronounceModal-" + accused[0].id.to_s , :class => ["btn", "btn-outline-primary"], "data-toggle" => "modal" %>
                    <!-- Modal -->
                    <div class="modal fade" id="pronounceModal-<%= accused[0].id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="pronounceModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="pronounceModalLongTitle">Pronunciarse sobre <%= accused[0].name %></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <%= form_with(url: person_in_procedures_path, method: "put") do |form| %>
                            <div class="modal-body">
                              <%= form.select :state, options_for_select([['Pendiente', "pending"], ['Apercibido', "noticed"], ['Audiencia control de detención', "acd"]]),{},{class: "form-control"} %>
                              <%= form.hidden_field :id, value: accused[2] %>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                              <%= form.submit "Enviar", class: ["btn", "btn-primary"] %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <%end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <% if @accuseds.empty? %>
          <div class="alert alert-info" role="alert">
            No hay imputados en este procedimiento.
          </div>
        <% end %>
      </div>
      <div class="tab-pane fade" id="nav-victim" role="tabpanel" aria-labelledby="nav-profile-tab">
        <br>
        <div class="row row-cols-1 row-cols-md-3">
          <% @victims.each do |victim| %>
            <div class="col mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= victim[0].name %></h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    <%= victim[0].rut %> <br>
                    <% if !victim[0].birthday.nil? %>
                      <%= ((Time.zone.now - victim[0].birthday.to_time) / 1.year.seconds).floor %> años
                    <%end %>
                    <p class="card-text"><small class="text-muted">
                      <%= victim[0].deceased ? "Fallecido" : "" %></small>
                      <%= victim[1] %>
                    </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <% if @victims.empty? %>
          <div class="alert alert-info" role="alert">
            No hay víctimas en este procedimiento.
          </div>
        <% end %>
      </div>
      <div class="tab-pane fade" id="nav-witness" role="tabpanel" aria-labelledby="nav-contact-tab">
        <br>
        <div class="row row-cols-1 row-cols-md-3">
          <% @witnesses.each do |witness| %>
            <div class="col mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= witness[0].name %> </h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    <%= witness[0].rut %>
                    <br>
                    <% unless witness[0].birthday.nil? %>
                      <%=  ((Time.zone.now - witness[0].birthday.to_time) / 1.year.seconds).floor  %> años
                    <% end %>
                    <p class="card-text">
                      <br>
                      <%= witness[1] %>
                    </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <% if @witnesses.empty? %>
          <div class="alert alert-info" role="alert">
            No hay testigos en este procedimiento.
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<div class="card">
  <h5 class="card-header">Archivos</h5>
  <div class="card-body">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-images-tab" data-toggle="tab" href="#nav-images" role="tab" aria-controls="nav-images" aria-selected="true">Imágenes</a>
        <a class="nav-item nav-link" id="nav-videos-tab" data-toggle="tab" href="#nav-videos" role="tab" aria-controls="nav-videos" aria-selected="false">Videos</a>
        <a class="nav-item nav-link" id="nav-documents-tab" data-toggle="tab" href="#nav-documents" role="tab" aria-controls="nav-documents" aria-selected="false">Documentos</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-images" role="tabpanel" aria-labelledby="nav-home-tab">
        <br>
        <div class="row row-cols-1 row-cols-md-3">
          <% @procedure.photos.each do |image| %>
            <%= image_tag(image, style:"width:100%") %>
          <% end %>
        </div>
        <% unless @procedure.photos.attached? %>
          <div class="alert alert-info" role="alert">
            No hay imágenes en este procedimiento.
          </div>
        <% end %>
      </div>
      <div class="tab-pane fade" id="nav-videos" role="tabpanel" aria-labelledby="nav-profile-tab">
        <br>
          <% if @procedure.videos.attached? %>
          <div class="row row-cols-1 row-cols-md-3">
            <% @procedure.videos.each do |video|  %>
              <div class="col-4">
                <video width="320" height="240" controls>
                  <source src=<%= rails_blob_path(video) %> type="video/mp4" />
                </video>
              </div>
            <% end %>
          </div>

      <% else %>
            <div class="alert alert-info" role="alert">
              No hay videos en este procedimiento.
            </div>
          <% end %>
        </div>
      <div class="tab-pane fade" id="nav-documents" role="tabpanel" aria-labelledby="nav-contact-tab">
        <br>
          <% if @procedure.documents.attached? %>
          <div class="row row-cols-1 row-cols-md-3">
            <table class="table">
              <thead>
              <tr>
                <th>File</th>
              </tr>
              </thead>
              <tbody>
              <% @procedure.documents.each do |doc|  %>
                <tr>
                  <td><%= link_to "Document", rails_blob_path(doc), target: :_blank %></td>
                </tr>
              <%end %>
              </tbody>
            </table>
          </div>
          <% else %>
            <div class="alert alert-info" role="alert">
              No hay documentos en este procedimiento.
            </div>
          <% end %>
          </div>
    </div>
  </div>
</div>
<br>
<div align="right">
  <%= link_to 'Atrás', procedures_path, class: ["btn", "btn-outline-primary"] %>
  <% if @procedure.open? %>
    <% disableButton = false %>
    <% @accuseds.each do |element| %>
      <% if element[1] == "pending" %>
        <% disableButton = true %>
        <% break %>
      <%end %>
    <% end %>
    <%= link_to "Cerrar procedimiento", "#closeProcedureModal", :class => ["btn", "btn-outline-danger" + (disableButton ? " disabled" : "")], "data-toggle" => "modal"%>
  <% end %>
  <%= link_to 'Mensajes del procedimiento', procedure_messages_path(@procedure.id), class: ["btn", "btn-outline-warning"] %>
  <% if @procedure.state == "Draft" %>
    <%= link_to 'Editar', edit_procedure_path, class: ["btn", "btn-outline-warning"] %>
  <% elsif current_user.prosecutor %>
    <%= link_to "Solicitar más información", "#informationModal", :class => ["btn", "btn-outline-warning"], "data-toggle" => "modal"%>
  <%end %>
</div>
<!-- Modal -->
<div class="modal fade" id="closeProcedureModal" tabindex="-1" role="dialog" aria-labelledby="closeProcedureModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="closeProcedureModalLongTitle">Cerrar procedimiento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with(url: @procedure, method: "put") do |form| %>
        <div class="modal-body">
          ¿Estás seguro que quieres cerrar este procedimiento?
          <%= form.hidden_field :state, value: "close" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <%= form.button "Cerrar procedimiento", type: "submit", class: ["btn", "btn-danger"], name: "petition", value: "change_state" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="informationModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="informationModalLongTitle">Solicitar información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with(url: @procedure, method: "put") do |form| %>
        <div class="modal-body">
          Detalle de la solicitud
          <%= form.text_area :message, class: "form-control" %>
          <%= form.hidden_field :state, value: "draft" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <%= form.button "Solicitar", type: "submit", class: ["btn", "btn-info"], name: "petition", value: "change_state" %>
        </div>
      <% end %>
    </div>
  </div>
</div>