<p id="notice"><%= notice %></p>
<h2>Procedimiento XX</h2>

<h3>Datos del procedimiento:</h3>

<p>
  <strong>Estado:</strong>
  <% if @procedure.pending? %>
  Pendiente
  <% elsif @procedure.acd?%>
  Audiencia control de detención
<% elsif @procedure.noticed? %>
  Apercibido
    <% end %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @procedure.created_at_str %>
</p>

<p>
  <strong>Unidad policial:</strong>
  <%= @procedure.police_unit_in_charge_id %>
</p>

<p>
  <strong>Carabinero a cargo:</strong>
  <%= @procedure.police_in_charge_id %>
</p>

<p>
  <strong>Fiscalia Local:</strong>
  <%= @procedure.local_prosecution_in_charge_id %>
</p>

<p>
  <strong>Fiscal a cargo:</strong>
  <%= @procedure.prosecutor_in_charge_id %>
</p>

<p>
  <strong>Región:</strong>
  <%= @procedure.region %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @procedure.sector %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @procedure.address %>
</p>

<h3>Datos delictuales:</h3>
<p>
  <strong>Clasificación:</strong>
  <% if @procedure.flagrancy? %>
    Flagrancia
  <% elsif @procedure.pending_arrest_warrant? %>
    Orden de detención pendiente
  <% elsif @procedure.both? %>
    Flagrancia y Orden de detención pendiente
  <% end %>
</p>

<p>
  <strong>Marcas:</strong>
  <% @procedure.marks.each do |mark| %>
    <span class="badge badge-pill badge-primary"><%= mark %></span>
  <% end %>
</p>

<p>
  <strong>Relato:</strong>
  <%= @procedure.story %>
</p>

<h3>Datos de involucrados:</h3>
<h4>Imputados</h4>
<% @accuseds.each do |accused| %>
  <p><%= accused.name %></p>
  <p><%= accused.last_name %></p>
  <p><%= accused.rut %></p>
<% end %>

<h4>Victimas</h4>
<% @victims.each do |victim| %>
  <p><%= victim.name %></p>
  <p><%= victim.last_name %></p>
  <p><%= victim.rut %></p>
<% end %>

<h4>Testigos</h4>
<% @witnesses.each do |witness| %>
  <p><%= witness.name %></p>
  <p><%= witness.last_name %></p>
  <p><%= witness.rut %></p>
<% end %>

<%= link_to 'Back', user_procedures_path() %>
