<%= form_with(model: [:admin, @user], local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Crear Usuario</h1>
  <div class="actions">
    <div class="row">
      <div class="form-group col-10">
        <%= form.label :email %>
        <%= form.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group col-10">
        <%= form.label :Contraseña %>
        <%= form.password_field :password, class: "form-control", autocomplete: "password", placeholder:"Nueva Contraseña" %>
      </div>

      <fieldset class="form-group col-10">
          <legend class="col-form-label col-sm-2 pt-0">Rol</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="admin" value="option1" checked>
              <label class="form-check-label" for="gridRadios1">
                Administrador
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="local_prosecution" value="option2">
              <label class="form-check-label" for="gridRadios2">
                Fiscal
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="gridRadios" id="police_unit" value="option3">
              <label class="form-check-label" for="gridRadios3">
                Policía
              </label>
            </div>
          </div>
      </fieldset>

      <div class="form-group col-10">
          <%= form.label :fiscalia_local %>
          <%= form.collection_select(:local_prosecution_id, LocalProsecution.all, :id, :name, {}, { class: "form-control", id: "local_prosecution_select" }) %>
      </div>

      <div class="form-group col-10">
          <%= form.label :unidad_policial %>
          <%= form.collection_select(:police_unit_id, PoliceUnit.all, :id, :name, {}, { class: "form-control", id: "police_unit_select" }) %>
      </div>
    </div>
  </div>


    <%= form.submit 'Crear Usuario', class: ["btn", "btn-primary"] %>
    <%= link_to "Atras", admin_users_path, class: ["btn", "btn-secondary"] %>
  </div>
<% end %>

<script>
    if($('#admin').prop('checked')) {
        $('#local_prosecution_select').attr('disabled', 'disabled');
        $('#police_unit_select').attr('disabled', 'disabled');
    }

    $('#admin').on('click', function(){
        if($(this).prop('checked')) {
            $('#local_prosecution_select').attr('disabled', 'disabled');
            $('#police_unit_select').attr('disabled', 'disabled');
        }
    })

    $('#local_prosecution').on('click', function(){
        if($(this).prop('checked')){
            $('#local_prosecution_select').removeAttr('disabled');
            $('#police_unit_select').attr('disabled', 'disabled');
        }
    })

    $('#police_unit').on('click', function(){
        if($(this).prop('checked')){
            $('#police_unit_select').removeAttr('disabled');
            $('#local_prosecution_select').attr('disabled', 'disabled');
        }
    })
</script>