<!DOCTYPE html>
<html>
  <head>
    <title>Atenas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/bb30ccd945.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="navbar-brand">
          <a class="mr-sm-4"><%= image_tag("FiscaliaLogo.png", width: "70em") %></a>
          <a class="mr-sm-4"><%= image_tag("FiscaliaNombre.png", width: "180em") %></a>
        </div>
        <%= form_with url: search_path, method: :get, local: true do |form| %>
          <div class="form-inline row">
            <%= form.text_field :query, :placeholder => "Search", class: "form-control" %>
            <%= form.submit "Search", class: ["btn", "btn-primary"] %>
          </div>
        <% end %>
        <button type="button" class="btn btn-warning text-white ml-sm-4"><%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %></button>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="light bg-light border-top p-1 mb-0">
      <div class="container text-center text-md-left mt-2 ">
        <div class="row">
          <div class="col-md-6 mt-md-0 mt-3">
            <h5 class="text"> Fiscalía Nacional</h5>
            <hr class="teal accent-3 mb-2 mt-0 d-inline-block " style="width: 60px;">
            <p> <a class="dark-grey-text" href="http://www.fiscaliadechile.cl/Fiscalia/index.do">Ir al sitio web</a></p>
          </div>


          <div class="col-md-4 mb-md-0 mb-2">
            <h5 class="text">Contacto</h5>
            <hr class="teal accent-3 mb-2 mt-0 d-inline-block " style="width: 60px;">
            <p class="text">ficalia@gmail.com</p>
          </div>
          <div class="col-md- col-lg-3 col-xl-2  mb-md-0 mb-4">
            <a class="ml-sm-5"><%= image_tag("logo_olimpus.png", width: "180em") %></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
